<p fundoAmarelo>Texto com fundo amarelo. (ElementRef e Renderer)</p>
<!--fundoAmarelo é o selector que tem na diretiva shared/fundo-amarelo.directive.ts-->

<button fundoAmarelo>Botão com fundo amarelo</button>
<br><br>
<p highlightMouse>Texto com highlight ao passar o mouse</p>
<p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<!--
    Diretivas de atributo, customizadas
    - ElementRef faz referência ao elemento do DOM
    - Renderer é o renderizador também responsável por fazer manipulação no DOM
-->

