<p fundoAmarelo>Texto com fundo amarelo. (ElementRef e Renderer)</p>
<!--fundoAmarelo é o selector que tem na diretiva shared/fundo-amarelo.directive.ts-->

<button fundoAmarelo>Botão com fundo amarelo</button>
<br><br>
<p highlightMouse>Texto com highlight ao passar o mouse</p>

<p [highlight]="'red'" [defaultColor]="'grey'">Texto com highlight com cores customizadas</p>
<!--Quando se usa o mesmo nome no selector e no @Input, o angular entende que se trata de um diretiva e de um property-->
<p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<!--
    Diretivas de atributo, customizadas
    - ElementRef faz referência ao elemento do DOM
    - Renderer é o renderizador também responsável por fazer manipulação no DOM
-->

